@font-face {
    font-family: "iconfont"; /* Project id 4453154 */
    src: url('iconfont.woff2?t=1709875473217') format('woff2'),
    url('iconfont.woff?t=1709875473217') format('woff'),
    url('iconfont.ttf?t=1709875473217') format('truetype');
}

@font-face {
    font-family: "SourceSans3"; /* Project id 4453154 */
    src: url('SourceSans3-Regular.woff2') format('woff2');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-a-8:before {
    content: "\e626";
}

.icon-a-11:before {
    content: "\e627";
}

.icon-a-12:before {
    content: "\e628";
}

.icon-a-7:before {
    content: "\e629";
}

.icon-a-6:before {
    content: "\e62a";
}

.icon-a-9:before {
    content: "\e62b";
}

.icon-a-5:before {
    content: "\e62c";
}

.icon-a-10:before {
    content: "\e62d";
}

.icon-a-4:before {
    content: "\e62e";
}

.icon-a-2:before {
    content: "\e62f";
}

.icon-a-1:before {
    content: "\e630";
}

.icon-a-3:before {
    content: "\e631";
}

.icon-xiangji:before {
    content: "\e625";
}

